:root {
  --primary: #b68353;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;


}

/* Nav start */
nav {
  background-color: rgba(1,1,3,.7);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1px solid #6c4f35;

}

nav .nav-logo a {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}
nav .nav-logo span {
  color: var(--primary);
}

nav .navbar a {
    display: inline-block;
    margin :0 1rem;
    color: white;
    font-size: 1.2rem;

}

nav .navbar a::after{
  content: "";
  display: block;
  border: 0.1rem solid #6c4f35;
  transform: scaleX(0);
  transition: .3s linear;
}

nav .navbar a:hover::after{
  transform: scaleX(.7);
}



nav .navbar a:hover{
  color: var(--primary);

}


nav .nav-icon a{
    display: inline-block;
    margin-left: 1rem;
    color: white;
}
nav .nav-icon a:hover{
  color: var(--primary);
}

nav .nav-icon .menu{
  display: none;
}


nav .search-box {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  right: 100%;
  padding: 1rem;
  background-color: #fff;
 
}

nav .search-box input {
  width: 100%;
  height: 100%;
  padding:1rem 2rem ;
  font-size:1rem;
  margin-right: 1rem;
}

nav .search-box .icon-search {
  color:black;
  height: 3rem;
  cursor: pointer;
}

nav .search-box.active{
  right: 10rem;
  animation: zoom .3s linear;

}


@keyframes zoom {
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
/* nav end */


/* hero start */
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/kopi.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
}

.hero::after{
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg,rgba(1,1,3,1)3%, rgba(1,1,3,0)50%);
}

.hero .content{
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  margin-bottom: .2em;
}
.hero .content h1 span {
  color: var(--primary);
}

.hero .content p{
  font-weight: 100;
  line-height: 1.5;
  mix-blend-mode: difference;
}

.hero .cta{
  display: inline-block;
  margin-top: 1rem;
  padding: 1.4rem ;
  color: #fff;
  background-color: #b68353;
  border-radius: .3rem;
}
/* hero end */

/* about start */

.about,
.menu,
.contact{
  padding: 10rem 7% 1.4rem;
}
.about h2,
.menu h2,
.contact h2{
  text-align: center;
  font-size: 2rem;
  margin-bottom:3rem;
}
.about h2 span ,
.menu h2 span,
.contact h2 span{
  color: var(--primary);
}

.about .row {
  display: flex;
}


.about .row .about-img{
  flex: 1 1 45rem;
}

.about .row .about-img img{
  width: 35rem;
  height: 25rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3{
  font-size: 1.6rem;
  margin-bottom:1rem ;
}

.about .row .content p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 100;
}

/* about end */

/* menu start */
.menu h2 {
  margin-bottom: 1.8rem;
}
.menu  p ,
.contact p{
  text-align: center;
  max-width: 30rem;
  margin: 1rem auto;
}


.menu .menu-list {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center; 
   margin: 3rem auto;
   gap: 2rem;
}


.menu .card-menu img{
  width: 10rem;
  border-radius: 50%;
}

.menu .card-menu h3{
  width: 10rem;
  text-align: center;
 
}


/* menu end */


/* contact start */
.contact .row{
  display: flex;
  background-color: #222;
  margin-top: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  text-align: center;
  flex: 1 1 40rem;
  padding: 5rem 2rem;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  background-color: var(--bg);
  padding-left:2rem;
  margin-top: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}

.contact .row form .btn{
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1.5rem 4rem;
  background-color: #b68353;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
}


/* contact end */

/* footer start */
footer{
  width: 100%;
  background-color: var(--primary);
  padding: 2rem;
  text-align: center;
  
}

footer .social a,.links a{
  color: #fff;
  font-size: 1.1rem;
  margin:1rem 
}

footer .social , .links{
  margin-bottom: 1rem;
}


/* footer end */


/* media query (responsive)*/

/* tablet */
@media (max-width:768px){
  html{
    font-size: 75%;
  }

  /* nav start */
  nav .nav-icon .menu{
    
    padding: 0;
    display: inline-block;
  }

  nav .navbar{
   position: absolute;
   top: 100%;
   right: -100%;
   background-color: #fff;
   width: 25rem;
   height: 100vh;
   transition: .3s;
  }

  
  nav .navbar.active{
    right: 0;
  }
  nav .navbar a{
    color: #010101;
    display: block;
    margin: 1.4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  nav .navbar a::after{
    transform-origin: 0 0;
  }

  nav .navbar a:hover::after{
    transform: scaleX(.2);
  }

  nav .search-box.active{
    right: 5rem;
  }
  /* nav end */

  /* about */

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .about-img img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }

  /* contact */
  
  .contact .row {
    margin: 1rem auto;
    flex-wrap: wrap;
  
  }
  
  .contact .row .map{
    height: 26rem;
  
  } 
  
  .contact .row form {
    padding-top: 0;
  }
}





/* mobile phone */
@media (max-width:450px){
  html{
    font-size: 65%;
  }
}